/*-------HEADER------------*/

:root {
    --main-bg-color: #EF7F1F;
  }
.Header {
    background-color: var(--main-bg-color);
}
/*-------NavBar------------*/
.dropdown-menu {
    border-radius: 0;
}
/*-------About------------*/


  .aboutArea {
    padding: 2rem;
  }

  .aboutArea h4 {
    color: var(--main-bg-color);
  }
  .aboutArea h5 span {
    color: var(--main-bg-color);
    font-weight: 600;
}
.aboutArea p {
    text-align: justify;
}


.Services {
  background-color: #e9ecefad;
}
.Services .card {
  text-align: center;
  padding: 3rem;
  border-radius: 0;
  transition: .4s;
}

.Services .card:hover {
  border: 1px solid #EF7F1F;
  border-radius: 0;
}


.Blog .card {
  text-align: center;
  min-height: 437px;
  overflow: hidden;
}
.Blog .card h5 {
  padding: 1rem;
}
.Blog .card img {
  display: block;
  width: 100%;

}


.ContactUs {
  background-image:
  linear-gradient(to bottom, rgba(0,200,129,.85), rgba(0,200,129,.85)),
  url('../images/banner.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.SubscribeWrapper {
  background-color: var(--main-bg-color);
  padding: 1.5rem;
}
.Subscribe {
  position: absolute;
  z-index: 999;
  width: 100%;
  margin-top: 3rem;
}
.Footer {
  color: #fff;
  background-image: linear-gradient(rgba(18,19,24,.9),rgba(18,19,24,.9)),url(../images/footer-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  background-position: 50%;
  overflow: hidden;
  padding: 90px 0;
  margin-top: 10rem;

}
.FooterLink ul {
  margin: 0;
  padding: 0;
}
.FooterLink ul li {
  list-style: none;
}
.FooterLink ul li a {
  text-decoration: none;
  color: #fff;
  padding: 5px 0;
  display: block;
  transition: .4s;
}
.FooterLink ul li a:hover {
  color: var(--main-bg-color);
  margin-left: 4px;
}

/*--------------------------
Top Banner
-----------------------------*/
.TopBanner {
  color: #fff;
  background-image: linear-gradient(rgba(18,19,24,.9),rgba(18,19,24,.9)),url(../images/banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  background-position: 50%;
  overflow: hidden;
  height: 50vh;
  padding: 90px 0;
}


.DetailseContent h4 {
  color: var(--main-bg-color);
}
.DetailseContent p {
  color: #676767;
  text-align: justify;
}