/*-------HEADER------------*/

:root {
    --main-bg-color: #EF7F1F;
  }
.Header {
    background-color: var(--main-bg-color);
}
/*-------NavBar------------*/
.dropdown-menu {
    border-radius: 0;
}
/*-------About------------*/


  .aboutArea {
    padding: 2rem;
  }

  .aboutArea h4 {
    color: var(--main-bg-color);
  }
  .aboutArea h5 span {
    color: var(--main-bg-color);
    font-weight: 600;
}
.aboutArea p {
    text-align: justify;
}


.Services {
  background-color: #e9ecefad;
}
.Services .card {
  text-align: center;
  padding: 3rem;
  border-radius: 0;
  transition: .4s;
}

.Services .card:hover {
  border: 1px solid #EF7F1F;
  border-radius: 0;
}


.Blog .card {
  text-align: center;
  min-height: 437px;
  overflow: hidden;
}
.Blog .card h5 {
  padding: 1rem;
}
.Blog .card img {
  display: block;
  width: 100%;

}
.Blog .card img:hover {

}